<div id="<%= dom_id expenses_group %>">
  <p>
    <strong>Expense:</strong>
    <%= expenses_group.expense_id %>
  </p>

  <p>
    <strong>Group:</strong>
    <%= expenses_group.group_id %>
  </p>

</div>
