<h1>Editing expenses group</h1>

<%= render "form", expenses_group: @expenses_group %>

<br>

<div>
  <%= link_to "Show this expenses group", @expenses_group %> |
  <%= link_to "Back to expenses groups", expenses_groups_path %>
</div>
