<div class="categories-card" id="<%= dom_id group %>">

    <img class="categories-image" src=<%= group.icon %>>
  <p class="categories-name">
        <%= group.name %>
  </p>
  <p class="categories-total">
  <strong>$
    <%= group.total_amount %>
  </strong>
</p>
</div>
