<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Icon:</strong>
    <img src=<%= group.icon %>>

  </p>

  <p>
    <strong>Total Amount:</strong>
    <%= group.total_amount %>
  </p>

</div>
