<header>
<%= link_to groups_path do %>
<span class="material-symbols-outlined">
arrow_back
</span>
<% end%>


<h2 class="page-title">NEW CATEGORY</h2>
  <%= button_to 'Sign out', destroy_user_session_path, method: :delete, data: { turbo: false}, class:"log-out-btn"  %>
</header>
