<div class="expenses-card" id="<%= dom_id expense %>">
  <p class="expenses-name">
    <%= expense.name %>
  </p>

  <p class="expense-amount">
  <strong>$
    <%= expense.amount %>
    </strong>
  </p>
</div>
